.git
.gitignore
.matplotlib-cache
.venv
venv
__pycache__
*.pyc
*$py.class
.ipynb_checkpoints

data
reports
runs
notebooks
dev-docs

artifacts/*
!artifacts/modeling
artifacts/modeling/*
!artifacts/modeling/20260613-134558
!artifacts/modeling/20260613-134558/**

Dockerfile
docker-compose.yml
